body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/grey.png");
}

.navbar {
    border-bottom: solid;
    border-top: solid;
    border-color: #cccccc;
}

.nav-item {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.navbar-brand {
    font-size: 26px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: -5px;
    margin-left: -15px;
    margin-top: -5px;
}

h3 {
    border-bottom: solid;
    border-color: #cccccc;  
    padding-bottom: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    font-weight: bold;
    color: #4aaaa5;
}

.h1 {
    font-size: 12px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px;
}

.btn-primary {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 5px 25px 5px 25px;  
    font-size: 16px;
    border-color: #cccccc;
}

.btn-primary:hover {
    background-color: #cccccc;
    border-color: #cccccc;
}

.btn-primary:active {
    background-color: #cccccc;
    border-color: #cccccc;
}

img {
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
}

.img-thumbnail {
    border: solid;
    border-color: #cccccc;
}

.about-me {
    background-color: cyan;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
    margin-bottom: 420px;
    border: solid;
    border-color: #dddddd;
    color: #777777;
    background-color: #ffffff;
    line-height: 1.5;
}

p {
    line-height: 2;
    margin-bottom: 10px;
}

.contact {
    background-color: cyan;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
    margin-bottom: 420px;
    border: solid;
    border-color: #dddddd;
    color: #777777;
    background-color: #ffffff;
    line-height: 1.5;
}

.portfolio {
    background-color: cyan;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 840px;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
    margin-bottom: 420px;
    border: solid;
    border-color: #dddddd;
    color: #777777;
    background-color: #ffffff;
    line-height: 1.5;
    position: relative;
}

.image-1-text {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
    margin-left: -315px;
}

.image-2-text {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
    margin-left: -315px;
}

.image-3-text {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
    margin-left: -315px;
}

.image-4-text {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
    margin-left: -315px;
}

.image-5-text {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 140px;
    margin-left: -315px;
}

.image-1-text:hover {
    color: #cccccc;
    text-decoration: underline;
}

.image-2-text:hover {
    color: #cccccc;
    text-decoration: underline;
}

.image-3-text:hover {
    color: #cccccc;
    text-decoration: underline;
}

.image-4-text:hover {
    color: #cccccc;
    text-decoration: underline;
}

.image-5-text:hover {
    color: #cccccc;
    text-decoration: underline;
}

@media screen and (max-width: 991px) {
    .image-1-text {
        top: 140px;
    }

    .image-2-text {
        top: 140px;
    }
    
    .image-5-text {
        top: 140px;
    }

    .portfolio {
        height: 870px;
    }
}

@media screen and (max-width: 767px) {
    .image-1-text {
        top: 140px;
    }
    
    .image-2 {
        margin-top: 25px;
    }

    .image-2-text {
        top: 140px;
    }

    .image-4 {
        margin-top: 25px;
    }

    .image-4-text {
        top: 140px;
    }

    .image-5 {
        margin-top: 5px;
    }

    .image-5-text {
        top: 140px;
    }

    .portfolio {
        height: 1300px;
    }
}
